<div id="<%= dom_id contact %>">
  <div>
    <strong>Name:</strong>
    <%= contact.name %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= contact.email %>
  </div>

  <div>
    <strong>User:</strong>
    <%= contact.user_id %>
  </div>

</div>
